* {
	margin:							0;
	padding:						0;
}

body {
	font-family:					Helvetica, Arial, Sans-Serif;
	font-size:						100.01%;
	margin:							0;
	padding:						0;
	border:							0;
	overflow:						hidden;
}

a {
	text-decoration:				none;
	font-weight:					bold;
}

a img {
	border:							none;
}

#tweetbar {
	margin:							0;
	padding:						0;
	border:							0;
}

#loginbox {
	position:						fixed;
	top:							0;
	left:							0;
	width:							100%;
	z-index:						31;
	padding:						0;
	margin:							0;
	border:							0;
}
#loginwrap {
	position:						absolute;
	top:							0;
	right:							5px;
	margin:							0;
	border:							0;
	padding:						0;
}
#loginform {
	clear:							both;
	display:						block;
	z-index:						31;
	padding:						0.3em 0;
	margin:							0;
}
#loginform div {
	padding:						0.2em 0.4em;
}
#loginform h1 {
	font-size:						0.9em;
	font-weight:					normal;
	padding:						0 0 0.5em 0;
}
#loginform h3 {
	font-size:						0.8em;
	font-weight:					normal;
	padding:						0.2em 0;
}
#loginform h3 a {
	text-decoration:				underline;
	background-color:				transparent;
}
#loginform h3 a:hover {
	text-decoration:				none;
}
#loginform label {
	font-size:						0.7em;
	display:						block;
	padding:						0.2em 0 0 0;
}
#loginform input {
	display:						block;
}
#loginform input.textbox {
	width:							10em;
	font-size:						0.8em;
}
#loginform input.piton {
	margin:							0.3em 0;
	font-size:						0.8em;
}
#whoami {
	position:						absolute;
	top:							0;
	right:							5px;
	text-align:					right;
	font-size:						0.8em;
	line-height:					1.2em;
	display:						block;
	height:							1.5em;
	text-align:					center;
	z-index:						31;
	margin:							0;
	padding:						0;
	border:							0;
}
#whoami p {
	font-size:						0.9em;
}
#whoami p a {
	text-decoration:				none;
	background-color:				transparent;
}
#whoami a.signin {
	text-decoration:				none;
	padding:						0.2em 0.5em;
	margin:							0;
	display:						block;
	min-width:						2em;
	max-width:						4em;
	height:							1.3em;
	font-size:						0.9em;
}

#poster {
	margin:							1em 0;
	padding:						0;
	position:						relative;
	z-index:						2;
}
#poster h1 {
	font-size:						0.9em;
	margin:							0;
	padding:						0.4em;
	font-weight:					normal;
}
#poster h3 {
	position:						absolute;
	top:							0.8em;
	right:							0.4em;
	font-size:						0.7em;
	font-weight:					normal;
}
	
#statusbox {
	margin:							0 0.6em 0 0.2em;
	padding:						0 0 0.4em;
}
		
input#status {
	margin:							0;
	padding:						0.2em;
	width:							98%;
	height:							23px;
	font-size:						18px;
}

.navigation {
	padding:						0;
	margin:							0px auto;
}
.navigation td {
	border:							0;
	height:							2.5em;
	text-align:					center;
	font-size:						0.7em;
	font-weight:					bold;
	padding:						0 0.2em;
}
.navigation td a {
	display:						block;
	height:							1.6em;
	line-height:					1.6em;
	text-decoration:				none;
}

#refresh_activity {
	width:							16px;
	height:							16px;
	margin:							0;
	padding:						0;
	border:							0;
}

h3#refreshing {
	font-size:						0.9em;
	font-weight:					normal;
	font-style:					italic;
	padding:						0;
	line-height:					1.6em;
}

#refresher {
	max-height:					20px;
	font-size:						0.8em;
	padding:						0;
	margin:							0;
}
#refresher td {
	height:							20px;
}
#refresher select {
	font-size:						0.8em;
}
#refresher a {
	font-size:						0.9em;
}
		
#stalker {
	margin:							0;
	padding:						0;
}

#lists {
	clear:							both;
}

ul#tweets {
	list-style:					none;
	min-height:					4em;
}
ul#tweets li {
	clear:							both;
	margin:							0;
	padding:						0.5em 0.3em;
	overflow:						hidden;
}
ul#tweets li p.pic {
	border:							0;
	float:							left;
	display:						block;
	width:							26px;
	height:							26px;
	margin:							0 2px 0 0;
	padding:						0;
}
ul#tweets li p.pic span.re {
	margin-top:					2px;
}
ul#tweets li p.pic a {
	border:							0;
	display:						block;
	width:							26px;
	height:							26px;
}
ul#tweets li p.pic a.re {
	width:							10px;
	height:							10px;
	display:						inline;
}
ul#tweets li p.pic a img {
	width:							24px;
	height:							24px;
	margin:							0;
	padding:						0;
}
ul#tweets li p.pic a img.re {
	text-align:					center;
	height:							10px;
	width:							10px;
	margin:							0;
	border:							none;
	display:						inline;
}
ul#tweets li p.what {
	font-size:						0.8em;
	line-height:					1.0em;
	margin:							0;
	padding:						0.2em 0.2em 0.2em 30px;
}
ul#tweets li p.who {
	font-size:						0.7em;
	margin:							0;
	padding:						0.2em 0.2em 0.2em 30px;
}
ul#tweets li p.who a {
	margin-right:					0.5em;
	font-weight:					bold;
}
ul#tweets li div.source {
	font-size:						0.7em;
	padding:						0pt 0.2em 0.2em 30px;
}
