/*
Palette: pastel crayons
Author: gentlefall
URL: http://www.colourlovers.com/palette/318261/pastel_crayons
*/

body {
	background-color:				#f2dc9b;
	
}

a {
	color:							#333;
}

#whoami a.signin {
	background-color:				#9bf2d8;
}

#loginform {
	background-color:				#f29b9b;
	color:							#333;
	border:							1px solid #9bf2d8;
}
#loginform input {
	border:							1px solid #9bf2d8;
}
#loginform input.piton {
	background-color:				#b4f29b;
}

#poster h1 {
	color:							#333;
}
#poster h3 {
	color:							#888;
}

input#status {
	border-top:					1px solid #aaa;
	border-left:					1px solid #aaa;
	border-bottom:					1px solid #ccc;
	border-right:					1px solid #ccc;
}

#navigation td {
	border-right:					4px solid #f2dc9b;
	padding:							0px 5px;
}
#navigation td.active {
	background-color:				#fff;
}

#refresher {
	background-color:				#fff;
}

.even {
	background-color:				#eee;
}
.even:hover {
	background-color:				#fff;
}

.reply {
	background-color:				#ffffe0;
}

ul#tweets {
	background-color:				#fff;
}
ul#tweets li p.pic a img {
	border:							1px solid #ccc;
}
ul#tweets li p.what {
	color:							#333;
}
ul#tweets li p.who {
	color:							#555;
}
ul#tweets li p.who a {
	color:							#00f;
}
ul#tweets li div.source a {
	color:							#4f3f3f;
}
